* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: rgb(208, 223, 230);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #ef32d9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #89fffd,
    #ef32d9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #89fffd, #ef32d9);
  min-height: 8vh;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.34);
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.35);
  z-index: 100;
}

.logo {
  color: rgb(6, 3, 37);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 21px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 24vw;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: rgb(6, 3, 37);
  font-weight: bold;
  font-size: 18px;
}

.burger {
  display: none;
}

.burger div {
  width: 20px;
  height: 3px;
  background-color: rgb(7, 5, 75);
  margin: 5px;
  transition: all 300ms ease-in 10ms;
}

@media screen and (max-width: 1260px) {
  .nav-links {
    width: 40vw;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .burger {
    display: block;
  }

  .burger:hover {
    -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.54);
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.25);
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    width: 40%;
    transform: translateX(100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: #ef32d9; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to bottom left,
      #ef32d9,
      #89fffd
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom left, #ef32d9, #89fffd);
    -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.54);
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.25);
    z-index: -100;
    transition: all 300ms ease-in-out 50ms;
  }

  .nav-links li {
    opacity: 0;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
