$boxshadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.25);
$ItemText: rgb(36, 36, 36);
$button: rgba(37, 98, 196, 0.671);
$button-hover: rgba(18, 69, 150, 0.884);
$button-outline: rgba(207, 236, 76, 0.623);
$button-outline-hover: rgb(209, 253, 11);
$LinearGradient: linear-gradient(
  to bottom left,
  rgba(90, 90, 90, 0.75),
  rgba(218, 218, 218, 0.75)
);
$Linear-Gradient: linear-gradient(
  to right,
  rgba(218, 218, 218, 0.75),
  rgba(90, 90, 90, 0.75)
);
